/* TOP BAR STYLES */

#top-bar {
    text-align: right;
    font-size: 12;
    height: 40px;
    margin-top: 20px;
}

.top-bar-element {
    padding: 0 5px;
}

#top-bar a {
    color: black;
}

#apps-container {
    position: relative;
    display: inline;
    top: 8px;
}

#apps-icon {
    display: inline-block;
    width: 2em;
    padding: 0px 5px;
}

#btn {
    color: white !important; 
    background-color: rgb(43, 125, 233);
    font-size: 12;
    border: 0;
    border-radius: 10%;
    padding: 10px 25px;

}

#btn:hover {
    background-color: rgb(96, 148, 216);
    box-shadow: 0px 0px 2px rgb(96, 148, 216);
    text-decoration: none;
}

/* MAIN PAGE STYLES */

#logo {
    display: block;
    width: 270px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    margin-bottom: 20px;
}

#search-box {
    display: block;
    width: 600px;
    height: 3.5em;
    margin: 20 auto;
    border: 1px solid rgb(224, 220, 220);
    border-radius: 25px;
    background-color: white;
}

#search-box:hover {
    box-shadow: 0px 1px 2px rgb(214, 211, 211);
}

#buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 242px;  /* WHYYYYYYYYYYYY */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 0;
    padding: 10px;
    font-size: 13;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px rgb(196, 191, 191);
}

#search-bottom {
    text-align: center;
    font-size: 12;
}

#results-logo {
    position: absolute;
    padding-top: 5px;
    width: 92px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

#search-box-results {
    width: 700px;
    height: 3.5em;
    margin-top: 30px;
    margin-left: 180px;
    border: 1px solid rgb(224, 220, 220);
    border-radius: 25px;
    background-color: white;
}

#search-box-results:hover {
    box-shadow: 0px 1px 2px rgb(214, 211, 211);
}

/* FOOTER STYLES */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    background-color: #f2f2f2;
}

footer a, footer p {
    font-size: 14;
    color: rgba(0,0,0,.54);
}

#line {
    border: 1px solid #dadce0;
    width: 100vw;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-footer {
    margin-left: 30px;
}

#bot-footer {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

#left-footer {
    margin-left: 30px;
}

#right-footer {
    margin-right: 30px;
    text-align: right;
}

#location {
    border-right: 1px solid #003aad;
}
/*
#vl {
    display: inline;
    border-left: 1px solid #dadce0;
    height: 200px;
}
*/



/* RESULTS STYLES */

#header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
}

#results-top-right {
    margin-top: 24px;
}

#tools {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin-top: 30px;
    margin-left: 200px;
}

#tools a {
    text-decoration: none;
    color: rgb(95, 99, 104);
    font-size: 13;
}

#results {
    width: 600px;
    margin-left: 200px;
    margin-bottom: 200px;
}

.result {
    margin-top: 40px;
}

.result-url {
    font-size: 12;
    line-height: 0.2;
}

.result-snippet {
    margin-top: 5px;
    font-size: 14;
}