/* TOP BAR STYLES */

#top-bar {
    text-align: right;
    font-size: 12;
    height: 40px;
}

.top-bar-element {
    padding: 0 5px;
}

#top-bar a {
    color: black;
}

#apps-icon {
    width: 1.2em;
}

button {
    display: inline-block;
    color: white;
    background-color: rgb(96, 148, 216);
    font-size: 12;
    border: 0;
    border-radius: 10%;
}

/* MAIN PAGE STYLES */

/*
#main {
    width: 500px;
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}
*/

#logo {
    display: block;
    width: 270px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 210px;
    margin-bottom: 20px;
}

#search-box {
    display: block;
    width: 600px;
    height: 3.5em;
    margin: 20 auto;
    border: 1px solid rgb(224, 220, 220);
    border-radius: 25px;
    background-color: white;
}

#search-box:hover {
    box-shadow: 0px 1px 2px rgb(214, 211, 211);
}

#buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 242px;  /* WHYYYYYYYYYYYY */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 0;
    padding: 10px;
    font-size: 13;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px rgb(196, 191, 191);
}

#search-bottom {
    text-align: center;
    font-size: 12;
}

/* FOOTER STYLES */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    background-color: #f2f2f2;
}

footer a, footer p {
    font-size: 14;
    color: rgba(0,0,0,.54);
}

#line {
    border: 1px solid #dadce0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-footer {
    margin-left: 30px;
}

#bot-footer {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

#left-footer {
    margin-left: 30px;
}

#right-footer {
    margin-right: 30px;
    text-align: right;
}